<div class="container">
  <div class="card">
    <div class="card-title">
      <h1>Login</h1>
    </div>
    <div class="card-content">
      <!-- [formGroup]="loginForm" (ngSubmit)="onSubmit()" -->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
            autocomplete="off"
          />
          <span
            class="alert"
            *ngIf="
              loginForm.get('email')?.hasError('required') &&
              loginForm.get('email')?.touched
            "
            >*Email is required</span
          >
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
          />
          <span
            class="alert"
            *ngIf="
              loginForm.get('password')?.hasError('required') &&
              loginForm.get('password')?.touched
            "
            >*Password is required</span
          >
        </div>
        <!-- [disabled]="!loginForm.valid" -->
        <button
          [disabled]="!loginForm.valid"
          type="submit"
          class="btn btn-primary"
        >
          Login
        </button>
      </form>
    </div>
    <div class="login">
      <p class="login-text">
        Don't have an account?
        <a class="login-link" routerLink="/register">Create today!</a>
      </p>
    </div>
  </div>
</div>
