<div class="container">
  <div class="card">
    <div class="card-title">
      <h1>Signup</h1>
    </div>
    <div class="card-content">
      <form (ngSubmit)="signup()" [formGroup]="signupForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            formControlName="name"
            autocomplete="off"
            required
          />
          <span
            class="alert"
            *ngIf="
              signupForm.get('name')?.hasError('required') &&
              signupForm.get('name')?.touched
            "
            >*Name is required</span
          >
        </div>
        <div class="form-group">
          <label for="lastname">Lastname</label>
          <input
            type="text"
            class="form-control"
            id="lastname"
            formControlName="lastname"
            autocomplete="off"
            required
          />
          <span
            class="alert"
            *ngIf="
              signupForm.get('lastname')?.hasError('required') &&
              signupForm.get('lastname')?.touched
            "
            >*Lastname is required</span
          >
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
            autocomplete="off"
            required
          />
          <span
            class="alert"
            *ngIf="
              signupForm.get('email')?.hasError('required') &&
              signupForm.get('email')?.touched
            "
            >*Email is required</span
          >
          <span
            class="alert"
            *ngIf="
              signupForm.get('email')?.hasError('pattern') &&
              signupForm.get('email')?.touched
            "
            >*Please type an email!</span
          >
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
            required
          />
          <span
            class="alert"
            *ngIf="
              signupForm.get('password')?.hasError('required') &&
              signupForm.get('password')?.touched
            "
            >*Password is required</span
          >
          <span
            class="alert"
            *ngIf="
              signupForm.get('password')?.hasError('minlength') &&
              signupForm.get('password')?.touched
            "
            >*Password should be minimum 6 character</span
          >
        </div>

        <!-- [disabled]="signupForm.invalid" -->
        <button type="submit" class="btn btn-primary">Signup</button>
      </form>
    </div>
    <div class="signup">
      <p class="signup-text">
        Do you have an account?
        <a class="signup-link" routerLink="/login">Login!</a>
      </p>
    </div>
    <p>Form Status: {{ signupForm.status }}</p>
  </div>
</div>
